<div class="works">
    <div class="container container--full-width">
        <div class="works__filter works__filter--separate fade-in__container animated-line">
            <button class="works__filter-btn fade-in__animated-start">All
                <span class="works__btn-hover"></span>
            </button>
            <button class="works__filter-btn fade-in__animated-start">Event
                <span class="works__btn-hover"></span>
            </button>
            <button class="works__filter-btn fade-in__animated-start">Identity
                <span class="works__btn-hover"></span>
            </button>
            <button class="works__filter-btn fade-in__animated-start">Motion Graphics
                <span class="works__btn-hover"></span>
            </button>
        </div>
        <div class="works__list">
            {{ blocks.previewProject('Next Design Perspectives', 'New trends in design', img="project-1.jpg") }}
            {{ blocks.previewProject('Artemide', 'A new language for an Iconic brand', width='half', img="project-default-wide.jpg") }}
            {{ blocks.previewProject('Coppa delle Alpi', 'Vintage car race along Alps', img="project-2.jpg") }}
            {{ blocks.previewProject('1000 Miglia 2019', 'The most beautiful race in the world', width='half', img="project-default-wide.jpg") }}
            {{ blocks.previewProject('Wisecap', 'A refreshed Brand Identity') }}
            {{ blocks.previewProject('STR Suite', 'Lorem ipsum dolor sit amet') }}
            {{ blocks.previewProject('UniCredit', 'A branded infodesign system') }}
            {{ blocks.previewProject('BenFatto', 'Lorem ipsum dolor sit amet') }}
            {{ blocks.previewProject('Gelato d’Italia', 'Lorem Ipsum dolor sit amet', width='half', img="project-default-wide.jpg") }}
            {{ blocks.previewProject('Nunawe', 'Furnitures to inspire creativity') }}
            {{ blocks.previewProject('Boraso', 'A catchy new digital identity', width='half', img="project-default-wide.jpg") }}
            {{ blocks.previewProject('Centuria', 'Lorem Ipsum dolor sit amet') }}
        </div>
    </div>
</div>
