<div class="works-main">
    <div class="container container--full-width">
        <div class="works__filter fade-in__container">
            <button class="works__filter-btn fade-in__animated-start">All
                <span class="works__btn-hover"></span>
            </button>
            <button class="works__filter-btn fade-in__animated-start">Projects
                <span class="works__btn-hover"></span>
            </button>
            <button class="works__filter-btn fade-in__animated-start">The Brand Dispatch
                <span class="works__btn-hover"></span>
            </button>
        </div>
        <div class="works__list">
            {{ blocks.previewProject('Next Design Perspectives', 'New trends in design', img="project-main-1.jpg", imgCover=true) }}
            {{ blocks.previewProject('Artemide', 'A new language for an Iconic brand', img="project-main-2.jpg", imgCover=true) }}
            {{ blocks.previewImage(imgCover=true) }}
            {{ blocks.previewMagazine('Connect to offline life', '#12 — 2019 | Experienc+holic', 'Tech', imgCover=true, openLeft=true) }}
            {{ blocks.previewImage(imgCover=true) }}
            {{ blocks.previewProject('Coppa delle Alpi', 'Vintage car race along Alps', img="project-2.jpg", imgCover=true) }}
            {{ blocks.previewMagazine('The Mirror World', '#09 — 2019 | Transparenc+age', 'Tech', imgCover=true) }}
            {{ blocks.previewImage(imgCover=true) }}
            {{ blocks.previewProject('1000 Miglia 2019', 'The most beautiful race in the world', width='half', img="project-main-3.jpg", imgCover=true) }}
            {{ blocks.previewImage(imgCover=true) }}
            {{ blocks.previewProject('STR Suite', 'Lorem ipsum dolor sit amet', imgCover=true) }}
            {{ blocks.previewMagazine('Cinema&Food', '#12 — 2019 | Experienc+holic', 'Lifestyle', imgCover=true) }}
            {{ blocks.previewImage(imgCover=true) }}
            {{ blocks.previewProject('UniCredit', 'A branded infodesign system', imgCover=true) }}
            {{ blocks.previewProject('Wisecap', 'A refreshed Brand Identity', video=true, imgCover=true) }}
        </div>
    </div>
</div>
